:root {
    --background: #EEEEFF;
    --on-background: #444455;
    --on-background-light: #DDDDEE;
    --on-background-shadow: #000000;

    --surface: #FFFFFF;
    --on-surface: #555566;
    --on-surface-light: #9999BB;
    --on-surface-shadow: #00000055;
    
    --error:#D32F2F;
    --on-error: #FFFFFF;
    
    --warning:#F9A825;
    --on-warning: #444455;
    
    --success:#2E7D32;
    --on-success: #FFFFFF;

    --primary: #6200EE;
    --primary-dark: #3700B3;
    --primary-light: #BB86FC;
    --on-primary: #EEF;
    --on-primary-light: #445;

    --secondary: #03DAC5;
    --secondary-dark: #00776B;
    --secondary-light: #8BF2E8;
    --on-secondary: #445;
    --on-secondary-dark: #EEF;
}

html.simple-me {
    font: 14px Helvetica, Arial, sans-serif;
    color: var(--on-background);
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

html.simple-me * {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    transition: 300ms ease;
    border-radius: 0.1rem;
}

html.simple-me > body {
    margin: auto;
    padding: 3rem;
    max-width: 1000px;
    background-color: var(--surface);
}

html.simple-me > body ::placeholder { 
    color: var(--on-surface-light);
}

html.simple-me > body mark {
    background-color: var(--secondary);
}

html.simple-me > body input[type="range"] {
    pointer-events: none;
}

html.simple-me > body input[type="range"]::-webkit-slider-thumb {
    pointer-events: auto;
}

html.simple-me > body input[type="range"]::-moz-range-thumb {
    pointer-events: auto;
}

html.simple-me > body input[type="range"]::-ms-thumb {
    pointer-events: auto;
}

html.simple-me > body ul, 
html.simple-me > body ol {
    margin: 0.5rem 0;
    line-height: 1.5rem;
    padding-left: 1.5rem;
}

html.simple-me > body ul ul, 
html.simple-me > body ul ol, 
html.simple-me > body ol ul,
html.simple-me > body ol ol {
    margin: 0;
}

html.simple-me > body .wrap {
    display: flow-root;
    padding: 0.2rem 0;
}

html.simple-me > body a,
html.simple-me > body b,
html.simple-me > body i,
html.simple-me > body em,
html.simple-me > body mark,
html.simple-me > body span {
    padding: 0 0.2rem;
}

html.simple-me > body b,
html.simple-me > body a,
html.simple-me > body h1,
html.simple-me > body h2 {
    font-weight: 500;
}

html.simple-me > body h3,
html.simple-me > body h4 {
    font-weight: 400;
}

html.simple-me > body h5,
html.simple-me > body h6,
html.simple-me > body p {
    font-weight: 300;
}

html.simple-me > body > footer,
html.simple-me > body > header {
    background: var(--primary);
    color: var(--on-primary);
    border-radius: 0;
}

html.simple-me > body > footer {
    margin: 3rem -3rem -3rem;
    padding: 1rem 3rem 6rem 3rem;
}

html.simple-me > body > header {
    margin: -3rem -3rem 3rem -3rem;
    padding: 3rem 3rem 1rem 3rem;
}

html.simple-me > body > header b,
html.simple-me > body > header i,
html.simple-me > body > header h1,
html.simple-me > body > header h2,
html.simple-me > body > header h3,
html.simple-me > body > header h4,
html.simple-me > body > header h5,
html.simple-me > body > header h6,
html.simple-me > body > footer b,
html.simple-me > body > footer i,
html.simple-me > body > footer h1,
html.simple-me > body > footer h2,
html.simple-me > body > footer h3,
html.simple-me > body > footer h4,
html.simple-me > body > footer h5,
html.simple-me > body > footer h6 {
    color: var(--on-primary);
}

html.simple-me > body > header.app-bar {
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 3rem;
    line-height: 3rem;
    display: inline-block;
    z-index: 80;
    box-shadow: 0 0.35rem 0.6rem var(--on-surface-shadow);
}

html.simple-me > body > header.app-bar > a {
    float: left;
}

html.simple-me > body > header.app-bar > a > img {
    filter: brightness(0) invert(1);
    width: 1.4rem;
    margin: 0.8rem;
}

html.simple-me > body > header.app-bar > p {
    float: left;
    line-height: 2rem;
    font-weight: 400;
}

html.simple-me > body > header.app-bar > .appbar-links {
    float: right;
    display: flex;
}
html.simple-me > body > header.app-bar > a:hover,
html.simple-me > body > header.app-bar > .appbar-links > a:hover {
    background-color: var(--primary-dark);
}

html.simple-me > body > header.app-bar > .appbar-links > a > img {
    filter: brightness(0) invert(1);
    width: 1.4rem;
    margin: 0.8rem;
}

html.simple-me > body > footer.app-bar {
    color: var(--primary);
    background-color: var(--surface);
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3rem;
    line-height: 3rem;
    display: flex;
    z-index: 80;
    box-shadow: 0 -0.15rem 0.5rem -0.1rem var(--on-surface-shadow);
}

html.simple-me > body > footer.app-bar > a {
    color: var(--primary);
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}

html.simple-me > body > footer.app-bar > a:hover {
    background-color: var(--on-background-light);
}

html.simple-me > body > footer.app-bar > a > img {
    flex: 2;
    /*filter: brightness(0) invert(1);*/
    filter: 
        opacity(0.2) 
        drop-shadow(0 0 0 var(--primary))
        drop-shadow(0 0 0 var(--primary))
        drop-shadow(0 0 0 var(--primary));
    width: 1rem;
    margin: 0.5rem auto;
}

html.simple-me > body > footer.app-bar > a > p {
    flex: 1;
    font-size: 0.7rem;
    margin-top: -0.5rem;
}

html.simple-me > body h1,
html.simple-me > body h2,
html.simple-me > body h3,
html.simple-me > body h4,
html.simple-me > body h5,
html.simple-me > body h6 {
    margin: 2.5rem 0 2rem 0;
}

html.simple-me > body h1 {
    font-size: 3.2rem;
}

html.simple-me > body h2 {
    font-size: 2.8rem;
}

html.simple-me > body h3 {
    font-size: 2.4rem;
}

html.simple-me > body h4 {
    font-size: 2rem;
}

html.simple-me > body h5 {
    font-size: 1.6rem;
}

html.simple-me > body h6 {
    font-size: 1.2rem;
}

html.simple-me > body p {
    margin: 0.5rem 0;
    line-height: 1.45rem;
}

html.simple-me > body i {
    font-weight: 200;
}

html.simple-me > body .border,
html.simple-me > body .border-inside > * {
    border: 0.1rem solid var(--on-background-light);
    padding: 0.05rem;
}

html.simple-me > body em {
    font-style: normal;
    border: 0.1rem solid transparent;
    background-color: var(--primary);
    color: var(--on-primary);
}

html.simple-me > body a {
    text-decoration: none;
    color: var(--primary);
    cursor: pointer;
}

html.simple-me > body .error {
    background-color: var(--error);
    color: var(--on-error);
}

html.simple-me > body .warning {
    background-color: var(--warning);
    color: var(--on-warning);
}

html.simple-me > body .success {
    background-color: var(--success);
    color: var(--on-success);
}

html.simple-me > body > header a,
html.simple-me > body > footer a {
    color: var(--on-primary);
}

html.simple-me > body a:hover {
    text-decoration: underline;
}

html.simple-me > body .hoverable {
    cursor: pointer;
}
html.simple-me > body .hoverable:hover:not(.card) {
    background-color: var(--on-background-light);
    box-shadow: 0 0.25rem 0.3rem -0.125rem var(--on-surface-shadow);
}

html.simple-me > body .grid > *,
html.simple-me > body form > * {
    display: flex;
}

html.simple-me > body .grid > * > *,
html.simple-me > body form > * > * {
    flex: 1;
    margin: 0.2rem;
    padding: 0.2rem;
}

html.simple-me > body form > * {
    padding: 0.25rem 0;
}

html.simple-me > body form {
    margin: 1rem 0;
    padding: 1rem 0;
    border: 0.1rem solid var(--on-surface-light);
}

html.simple-me > body form > * > * > label {
    position: absolute;
    font-weight: 300;
}

html.simple-me > body form > * > * > label > span.error {
    font-size: 0.7rem;
    color: var(--error);
    background-color: var(--surface);
}

html.simple-me > body form > * > * > input,
html.simple-me > body form > * > * > select,
html.simple-me > body form > * > * > textarea {
    margin-top: 1.5rem;
    width: 100%;
    border: 0.1rem solid var(--on-surface-light);
    padding: 0.5em;
    border-radius: 0.3rem;
}

html.simple-me > body form > * > * > textarea {
    max-width: 100%;
}

html.simple-me > body form > * > * > input:disabled,
html.simple-me > body form > * > * > select:disabled,
html.simple-me > body form > * > * > textarea:disabled {
    border-color: var(--on-surface-light);
}

html.simple-me > body form > * > * > input[type="file"] {
    padding: 0.25em;
}

html.simple-me > body form > * > * > input[type="radio"],
html.simple-me > body form > * > * > input[type="checkbox"] {
    width: auto;
    margin-top: 2rem;
    transform: scale(1.5);
    filter: hue-rotate(30deg) saturate(1.4);
    cursor: pointer;
}

html.simple-me > body form > * > * > input[type="range"] {
    filter: hue-rotate(30deg) saturate(1.4);
    cursor: pointer;
}

html.simple-me > body form > * > * > label.radio,
html.simple-me > body form > * > * > label.checkbox {
    left: 2rem;
    top: 2.1rem;
}

html.simple-me > body .card {
    border-radius: 0.5rem;
    border: 0.1rem solid var(--on-surface-light);
    display: flex;
    flex-direction: column;
    justify-content:end;
}

html.simple-me > body .card > header,
html.simple-me > body .card > main,
html.simple-me > body .card > footer {
    padding: 0.5rem 1rem;
    border-radius: 0;
}

html.simple-me > body .card > header > *:not(img),
html.simple-me > body .card > main > *:not(img),
html.simple-me > body .card > footer > *:not(img) {
    margin: 0;
}

html.simple-me > body .card > header {
    border-bottom: 0.1rem solid var(--on-surface-light);
}

html.simple-me > body .card > footer {
    border-top: 0.1rem solid var(--on-surface-light);
}

html.simple-me > body .card a {
    color: var(--primary);
}

html.simple-me > body img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

html.simple-me > body .shadow-1 {
    box-shadow: 0 0.15rem 0.3rem var(--on-surface-shadow);
}

html.simple-me > body .shadow-2 {
    box-shadow: 0 0.25rem 0.45rem var(--on-surface-shadow);
}

html.simple-me > body .shadow-3 {
    box-shadow: 0 0.35rem 0.6rem var(--on-surface-shadow);
}

html.simple-me > body .shadow-4 {
    box-shadow: 0 0.45rem 0.75rem var(--on-surface-shadow);
}

html.simple-me > body .shadow-5 {
    box-shadow: 0 0.55rem 0.9rem var(--on-surface-shadow);
}

html.simple-me > body .shadow-6 {
    box-shadow: 0 0.65rem 1.05rem var(--on-surface-shadow);
}

html.simple-me > body .card.hoverable:hover {
    background-color: var(--on-background-light);
    box-shadow: 0 0.35rem 0.6rem var(--on-surface-shadow);
}

html.simple-me > body .card.as-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 30rem;
    max-width: 90%;
    background-color: var(--surface);
    box-shadow: 0 0 0 9999px var(--on-surface-shadow), 0 0.35rem 0.6rem var(--on-surface-shadow);
    transform: translate(-50%, -50%);
}

html.simple-me > body .card.as-dialog a {
    color: var(--primary);
}

html.simple-me > body .card.as-dialog > main {
    min-height: 5rem;
}

html.simple-me > body .to-r-inside > *,
html.simple-me > body .to-r {
    text-align: right;
}

html.simple-me > body .to-l-inside > *,
html.simple-me > body .to-l {
    text-align: left;
}

html.simple-me > body .to-c-inside > *,
html.simple-me > body .to-c {
    text-align: center;
    border-radius: 0;
}

html.simple-me > body table {
    width: 100%;
    min-width: 600px;
    text-align: center;
    border-spacing:0;
    border-collapse: collapse;
}

html.simple-me > body table * {
    margin: 0;
    padding: 0.5rem 0.1rem;
    vertical-align: middle;
    border-radius: 0;
}

html.simple-me > body table > thead > tr > th {
    border-bottom: 0.1rem solid var(--on-surface-light);
    font-weight: 400;
    font-size: 1.1rem;
}

html.simple-me > body table > tbody > tr > td,
html.simple-me > body ol > li,
html.simple-me > body ul > li {
    font-weight: 300;
    color: var(--on-surface);
}

html.simple-me > body table > tbody > tr > td:first-child {
    border-left: 0.3rem solid transparent;
}

html.simple-me > body table > tbody tr:hover {
    background-color: var(--on-background-light);
}

html.simple-me > body table > tbody tr:hover td:first-child {
    border-left: 0.3rem solid var(--primary);
}

html.simple-me > body table > tfoot > tr > td {
    border-top: 0.1rem solid var(--on-surface-light);
    font-weight: 300;
}

html.simple-me > body .chip {
    position: relative;
    float: left;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0.1rem solid var(--on-surface-light);
    border-radius: 9999px;
    padding: 0.5rem 1rem;
}

html.simple-me > body .chip > img,
html.simple-me > body .chip > em {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    padding: 0.4rem;
    border-radius: 50%;
    top: -0.1rem;
    line-height: 1.4rem;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

html.simple-me > body .chip.icon-l {
    padding-left: 2.2rem;
}

html.simple-me > body .chip.icon-r {
    padding-right: 2.2rem;
}

html.simple-me > body .chip.icon-l > img,
html.simple-me > body .chip.badge-l > em,
html.simple-me > body .chip.image-l > img {
    left: -0.1rem;
}

html.simple-me > body .chip.icon-r > img,
html.simple-me > body .chip.badge-r > em,
html.simple-me > body .chip.image-r > img {
    right: -0.1rem;
}

html.simple-me > body .chip.badge-r,
html.simple-me > body .chip.close-r,
html.simple-me > body .chip.image-r {
    padding-right: 2.5rem;
}

html.simple-me > body .chip.badge-l,
html.simple-me > body .chip.close-l,
html.simple-me > body .chip.image-l {
    padding-left: 2.5rem;
}

html.simple-me > body .chip.image-r > img,
html.simple-me > body .chip.image-l > img {
    padding: 0;
}

html.simple-me > body .chip.close-r > em,
html.simple-me > body .chip.close-l > em {
    background-color: var(--primary);
    color: var(--on-primary);
    border: none;
    font-family: system-ui;
    line-height: 1.1rem;
    width: 1.9rem;
    height: 1.9rem;
    top: 0.1rem;
    cursor: pointer;
}

html.simple-me > body .chip.close-r > em:hover,
html.simple-me > body .chip.close-l > em:hover {
    background-color: var(--primary-dark);
}

html.simple-me > body .chip.close-r > em {
    right: 0.1rem;
}

html.simple-me > body .chip.close-l > em {
    left: 0.1rem;
}

html.simple-me > body > button.nav {
    width: 5rem;
    height: 5rem;
    position: fixed;
    z-index: 99;
    border-radius: 50%;
    background-color: var(--primary);
    box-shadow: 0 0.35rem 0.6rem var(--on-surface-shadow);
    border: 0.2rem solid var(--surface);
    color: var(--on-primary);
    font-size: 2rem;
    cursor: pointer;
    right: 1rem;
    bottom: 1rem;
    padding: 0;
}

html.simple-me > body > button.nav:hover {
    background-color: var(--primary-dark);
    color: var(--on-primary);
}

html.simple-me > body > button.nav > img {
    filter: brightness(0) invert(1);
    width: 1.4rem;
}

html.simple-me > body aside,
html.simple-me > body nav {
    position: fixed;
    z-index: 70;
    background-color: var(--surface);
    color: var(--on-surface);
    border: 0.1em solid var(--on-surface-light);
    box-shadow: 0 0.55rem 0.9rem var(--on-surface-shadow);
    border-radius: 0.3rem;
    width: 20rem;
}

html.simple-me > body aside {
    top: 0;
    left: 0;
    z-index: 69;
    border-radius: 0;
    border: none;
    height: 100%;
    width: auto;
    padding: 3rem 0;
}

html.simple-me > body aside > a,
html.simple-me > body nav > a {
    color: var(--on-surface);
    padding: 1rem;
    cursor: pointer;
    border-radius: 0;
    display: block;
}

html.simple-me > body aside > a {
    padding: 1rem 3rem;
}

html.simple-me > body aside > a:hover,
html.simple-me > body nav > a:hover {
    color: var(--on-primary);
    background-color: var(--primary-light);
    border-left: 0.5rem solid var(--primary);
    margin-left: -0.01rem;
    text-decoration: none;
}

html.simple-me > body aside > a.selected,
html.simple-me > body nav > a.selected {
    border-left: 0.5rem solid var(--primary);
    margin-left: -0.01rem;
}

html.simple-me > body aside h1,
html.simple-me > body aside h2,
html.simple-me > body aside h3,
html.simple-me > body aside h4,
html.simple-me > body aside h5,
html.simple-me > body aside h6,
html.simple-me > body aside p,
html.simple-me > body nav h1,
html.simple-me > body nav h2,
html.simple-me > body nav h3,
html.simple-me > body nav h4,
html.simple-me > body nav h5,
html.simple-me > body nav h6,
html.simple-me > body nav p {
    padding: 0.5rem 1rem;
    margin: 0;
}

html.simple-me > body .is-hidden {
    pointer-events: none;
    opacity: 0;
}

html.simple-me > body button,
html.simple-me > body form input[type="submit"],
html.simple-me > body a.button {
    border-left: 0.1rem solid var(--primary-light);
    border-top: 0.1rem solid var(--primary-light);
    border-right: 0.1rem solid var(--primary-dark);
    border-bottom: 0.1rem solid var(--primary-dark);
    padding: 0.5rem 2rem;
    background: var(--surface);
    color: var(--primary);
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border-radius: 0.5rem;
    white-space: nowrap;
    margin-bottom: 0.3rem;
}

html.simple-me > body button.secondary,
html.simple-me > body form input[type="submit"].secondary,
html.simple-me > body a.button.secondary {
    color: var(--secondary);
    border-color: var(--secondary);
    background: var(--surface);
}

html.simple-me > body button.error,
html.simple-me > body form input[type="submit"].error,
html.simple-me > body a.button.error {
    color: var(--error);
    border-color: var(--error);
    background: var(--surface);
}

html.simple-me > body button.warning,
html.simple-me > body form input[type="submit"].warning,
html.simple-me > body a.button.warning {
    color: var(--warning);
    border-color: var(--warning);
    background: var(--surface);
}

html.simple-me > body button.success,
html.simple-me > body form input[type="submit"].success,
html.simple-me > body a.button.success {
    color: var(--success);
    border-color: var(--success);
    background: var(--surface);
}

html.simple-me > body button:hover:not(:disabled):not(.nav),
html.simple-me > body form input[type="submit"]:hover:not(:disabled),
html.simple-me > body a.button:hover:not(.disabled) {
    background-color: var(--primary);
    color: var(--on-primary);
    text-decoration: none;
}

html.simple-me > body button.secondary:hover:not(:disabled),
html.simple-me > body form input[type="submit"].secondary:hover:not(:disabled),
html.simple-me > body a.button.secondary:hover:not(.disabled) {
    background-color: var(--secondary);
    color: var(--on-secondary);
}

html.simple-me > body button.error:hover:not(:disabled),
html.simple-me > body form input[type="submit"].error:hover:not(:disabled),
html.simple-me > body a.button.error:hover:not(.disabled) {
    background-color: var(--error);
    color: var(--on-error);
}

html.simple-me > body button.warning:hover:not(:disabled),
html.simple-me > body form input[type="submit"].warning:hover:not(:disabled),
html.simple-me > body a.button.warning:hover:not(.disabled) {
    background-color: var(--warning);
    color: var(--on-warning);
}

html.simple-me > body button.success:hover:not(:disabled),
html.simple-me > body form input[type="submit"].success:hover:not(:disabled),
html.simple-me > body a.button.success:hover:not(.disabled) {
    background-color: var(--success);
    color: var(--on-success);
}

html.simple-me > body button:disabled,
html.simple-me > body form input[type="submit"]:disabled,
html.simple-me > body a.button.disabled {
    cursor: default;
    color: var(--on-surface-light);
    border: 0.1rem solid var(--on-surface-light);
    text-decoration: none;
}

html.simple-me > body .progress {
    height: 0.3em;
    background-color: var(--on-background-light);
}

html.simple-me > body .progress > .indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 0.3em;
    background-color: var(--primary);
}

html.simple-me > body .snackbar {
    position: fixed;
    color: transparent;
    width: 100%;
    bottom: 3.5rem;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 60;
    pointer-events: none;
}

html.simple-me > body .snackbar-item {
    pointer-events: all;
    flex: 1;
    background-color: var(--on-background);
    width: fit-content;
    border-radius: 0.5rem;
    margin: auto;
    height: auto;
    line-height: 1rem;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
    margin-bottom: 0.3rem;
    box-shadow: 0 0.15rem 0.3rem var(--on-surface-shadow);
}

html.simple-me > body .snackbar-item > p {
    flex: 3;
    line-height: 1rem;
    white-space: nowrap;
    color: var(--surface);
}

html.simple-me > body .snackbar-item > a {
    flex: 1;
    white-space: nowrap;
    color: var(--primary-light);
    margin: 0.5rem 0 0.5rem 1rem;
}

html.simple-me > body .progress-circle {
    margin: auto;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    background: 
        /* center */
        radial-gradient(var(--surface) 64%, transparent 65%), 
        /* progress indicator */
        conic-gradient(
            var(--on-background-light) 0deg, var(--on-background-light) 360deg
        );
}

html.simple-me > body .progress-circle.p25 {
    background: 
        radial-gradient(var(--surface) 64%, transparent 65%), 
        conic-gradient(
            /* degrees = 360 * 0.25 = 90 */
            var(--primary) 0deg, var(--primary) 90deg, 
            var(--on-background-light) 0deg, var(--on-background-light) 360deg
        );
}

html.simple-me > body .progress-circle.p50 {
    background: 
        radial-gradient(var(--surface) 64%, transparent 65%), 
        conic-gradient(
            /* degrees = 360 * 0.5 = 180 */
            var(--primary) 0deg, var(--primary) 180deg, 
            var(--on-background-light) 0deg, var(--on-background-light) 360deg
        );
}

html.simple-me > body .progress-circle.p75 {
    background: 
        radial-gradient(var(--surface) 64%, transparent 65%), 
        conic-gradient(
            /* degrees = 360 * 0.75 = 270 */
            var(--primary) 0deg, var(--primary) 270deg, 
            var(--on-background-light) 0deg, var(--on-background-light) 360deg
        );
}

html.simple-me > body .progress-circle.p100 {
    background: 
        radial-gradient(var(--surface) 64%, transparent 65%), 
        conic-gradient(
            /* degrees = 360 * 1 = 360 */
            var(--primary) 0deg, var(--primary) 360deg, 
            var(--on-background-light) 0deg, var(--on-background-light) 360deg
        );
}

html.simple-me > body .progress-circle > p {
    position: absolute;
    top: 2.3rem;
    left: 0;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    line-height: 2.5rem;
}

html.simple-me > body .padding-1,
html.simple-me > body .padding-inside-1 > * {
    padding: 0.5rem;
}

html.simple-me > body .padding-2,
html.simple-me > body .padding-inside-2 > * {
    padding: 1rem;
}

html.simple-me > body .padding-3,
html.simple-me > body .padding-inside-3 > * {
    padding: 1.5rem;
}

html.simple-me > body .padding-4,
html.simple-me > body .padding-inside-4 > * {
    padding: 2rem;
}

html.simple-me > body .padding-5,
html.simple-me > body .padding-inside-5 > * {
    padding: 2.5rem;
}

html.simple-me > body .padding-6,
html.simple-me > body .padding-inside-6 > * {
    padding: 3rem;
}

html.simple-me > body .margin-1,
html.simple-me > body .margin-inside-1 > * {
    margin: 0.5rem;
}

html.simple-me > body .margin-2,
html.simple-me > body .margin-inside-2 > * {
    margin: 1rem;
}

html.simple-me > body .margin-3,
html.simple-me > body .margin-inside-3 > * {
    margin: 1.5rem;
}

html.simple-me > body .margin-4,
html.simple-me > body .margin-inside-4 > * {
    margin: 2rem;
}

html.simple-me > body .margin-5,
html.simple-me > body .margin-inside-5 > * {
    margin: 2.5rem;
}

html.simple-me > body .margin-6,
html.simple-me > body .margin-inside-6 > * {
    margin: 3rem;
}

html.simple-me > body .h-1 {
    height: 1rem;
}

html.simple-me > body .h-2 {
    height: 2rem;
}

html.simple-me > body .h-3 {
    height: 3rem;
}

html.simple-me > body .h-4 {
    height: 4rem;
}

html.simple-me > body .h-5 {
    height: 5rem;
}

html.simple-me > body .h-6 {
    height: 6rem;
}

html.simple-me > body .w-1 {
    width: 1rem;
}

html.simple-me > body .w-2 {
    width: 2rem;
}

html.simple-me > body .w-3 {
    width: 3rem;
}

html.simple-me > body .w-4 {
    width: 4rem;
}

html.simple-me > body .w-5 {
    width: 5rem;
}

html.simple-me > body .w-6 {
    width: 6rem;
}

html.simple-me > body .bg-background {
    background-color: var(--background);
}

html.simple-me > body .bg-surface {
    background-color: var(--surface);
}

@media (max-width: 640px) {

    html.simple-me > body h4 {
        font-weight: 300;
    }

    html.simple-me > body h1 {
        font-size: 2.2rem;
    }
    
    html.simple-me > body h2 {
        font-size: 2rem;
    }
    
    html.simple-me > body h3 {
        font-size: 1.8rem;
    }
    
    html.simple-me > body h4 {
        font-size: 1.6rem;
    }
    
    html.simple-me > body h5 {
        font-size: 1.4rem;
    }
    
    html.simple-me > body h6 {
        font-size: 1.2rem;
    }
    
    html.simple-me > body p {
        margin: 0.5rem 0;
        line-height: 1.45rem;
    }

    html.simple-me > body .grid > * {
        display: block;
    }

    html.simple-me > body form > * {
        display: block;
    }

    html.simple-me > body .responsive {
        overflow-x: auto;
    }

    html.simple-me > body nav {
        width: 75%;
        padding-bottom: 0;
    }

    html.simple-me > body nav > div {
        padding: 2rem 1rem;
        border-bottom: 0.1rem solid var(--surface);
    }

    html.simple-me > body .hide-on-small {
        display: none;
    }
}
